<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<!-- <resultMap id="resultCustomer" type="com.my.vo.Customer">
		<result column="id" property="id"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="address" property="address"/>
		<result column="gender" property="gender"/>
		<result column="birth_date" property="birth_date"/>
		<association column="zip_idx" property="zip" javaType="com.my.vo.Zip">
			<result column="zip_idx" property="idx"/>
		</association>
	</resultMap> -->

		
	<!-- 회원가입  -->
	<!-- <insert id="insert">
	INSERT INTO customer(id, password, name, zip_idx, address, gender, birth_date) 
	VALUES(#{id}, #{password}, #{name}, #{zip.idx}, #{address}, #{gender}, #{birth_date})
	</insert> -->
	
	<!-- 로그인  -->
	<select id="selectByEmail" resultType="vo.Member">
	SELECT * FROM member WHERE e_mail = #{email}
	</select>
	
	<!-- 로그아웃 -->
 
  
</mapper>